<!--====== HEADER PART START ======-->

<header id="header-part">
    <div class="header-top  d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-right d-flex justify-content-end">
                        <div class="social d-flex">
                            <span class="follow-us">Suivez-moi :</span>
                            <ul>
                                <li><a href="https://facebook.com/anas.moutia.10"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/anas-moutia-62294622/?originalSubdomain=ma"><i class="fa fa-linkedin"></i></a></li>

                            </ul>
                        </div> <!-- social -->
                        <div class="login-register">
                            <ul>
                                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                            </ul>
                        </div>
                    </div> <!-- header right -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- header top -->

    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="{{ path('app_accueil') }}">
                            <img src="{{asset('frontend/images/')}}logo.png" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a  {% if page=='accueil' %}class="active"{% endif %} href="{{ path('app_accueil') }}">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a  {% if page=='bio' %}class="active"{% endif %} href="{{ path('app_bio') }}">Biographie</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_actscientifique') }}"  {% if page=='actscientifique' %}class="active"{% endif %}>Activités scientifique</a>
{#                                    <ul class="sub-menu">#}
{#                                        {% for c in semestres() %}#}
{#                                        <li><a href="{{ path('app_semestre', {'id': c.id}) }}">{{ c }}</a></li>#}
{#                                        {% endfor %}#}


{#                                    </ul>#}
                                </li>
                                <li class="nav-item">
                                    <a  {% if page=='activite' %}class="active"{% endif %}href="#">activités pédagogiques</a>
                                </li>

                                <li class="nav-item ">
                                    <a  {% if page=='contact' %}class="active"{% endif %}href="{{ path('app_contact') }}">Contactez nous</a>
                                </li>
                            </ul>
                        </div>
                    </nav> <!-- nav -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</header>

<!--====== HEADER PART ENDS ======-->