{%extends 'frontend/layouts/base.html.twig'%}
{% set page="cours" %}
{% block content %}
<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url({{ asset('frontend/images/page-banner-1.jpg') }})">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>{{ cours.nom }}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{path('app_accueil')}}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="#">{{ cours.semestre }}</a></li>
                            <li class="breadcrumb-item"><a href="#">{{ cours.type }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ cours.nom }}</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<section id="courses-single" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="courses-single-left mt-30">
                    <div class="title">
                        <h3>{{ cours.nom }}</h3>
                    </div> <!-- title -->
                    <div class="course-terms">
                        <ul>
                            <li>
                                <div class="teacher-name">

                                    <div class="name">
                                        <span>Auteur</span>
                                        <h6>{{ cours.auteur}}</h6>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="course-category">
                                    <span>Semestre</span>
                                    <h6>{{ cours.semestre }} </h6>
                                </div>
                            </li>
                            <li>
                                <div class="review">
                                    <span>Type</span>
                                    <h6>{{ cours.type }} </h6>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- course terms -->
                    <div class="courses-tab mt-30">
                        <ul class="nav nav-justified" id="myTab" role="tablist">

                            <li class="nav-item">
                                <a class="active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="curriculum" aria-selected="false">Description</a>
                            </li>
                            <li class="nav-item">
                                <a id="contenu-tab" data-toggle="tab" href="#contenu" role="tab" aria-controls="overview" aria-selected="true">Contenu en Pdf</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade" id="contenu" role="tabpanel" aria-labelledby="contenu-tab">
                                <div class="contenu-cont">
                                    <div class="title pt-2">

                                        <iframe {% if cours.pdfName %}src="{{ asset('uploads/cours/'~cours.pdfName) }}"{% else%} src="{{cours.url|replace({'view?usp=sharing': "preview" })}}" {% endif %}width="100%" height="1000px" frameborder="0" scrolling="no"></iframe>

                                    </div>
                                </div> <!-- curriculum cont -->
                            </div>
                            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                <div class="instructor-cont">
                                    <div class="instructor-description pt-25">
                                                         <p>{{ cours.description|raw }}</p>
                                    </div>
                                </div> <!-- instructor cont -->
                            </div>

                        </div> <!-- tab content -->
                    </div>
                </div> <!-- courses single left -->

            </div>

        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-8">
                <div class="related-courses pt-95">
                    <div class="title">
                        <h3>Voir Aussi</h3>
                    </div>
                    <div class="row mt-30">
                        {% for c in cours.semestre.cours %}
                            <div class="col-lg-6">
                                <div class="single-course">
                                    <div class="thum">
                                        <div class="image">
                                            <img src="{% if c.type and c.type.imageName %}{{ asset("uploads/type/"~c.type.imageName) }}{% else %}{{ asset('frontend/images/course/cu-1.jpg') }}{% endif %}" alt="Course">
                                        </div>
                                        <div class="sem">
                                            <span>{{ c.semestre }}</span>
                                        </div>
                                    </div>
                                    <div class="cont">
                                        <a href="{{ path('app_cours_detail', {'id': c.id}) }}"><h4>{{ c.nom }}</h4></a>
                                        <div class="course-teacher">
                                            <div class="thum">
                                                <a href="#"
                                                ><img src="{{ asset('frontend/images/teachers/quote.png') }}" alt="teacher"
                                                    /></a>
                                            </div>
                                            <div class="name">
                                                <a href="#"><h6>{{ c.auteur }}</h6></a>
                                            </div>
                                            <div class="admin">
                                                <ul>
                                                    <li>
                                                        <a href="#"
                                                        ><i class="fa fa-user"></i><span>31</span></a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="#"
                                                        ><i class="fa fa-heart"></i><span>10</span></a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- single course -->
                            </div>
                        {% endfor %}
                    </div>
                </div> <!-- related courses -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
{% endblock %}
